.app {
  text-align: center;
}

.app__header {
  display: flex;
  flex-direction: column;
  background-color: rgb(8, 172, 226);
  object-fit: contain;
  color: white;
}

.app__header input {
  color: white;
}